In [10]:
def my_introduction():
    print("Hello, my name is Harry")
    print("I live and work in Boston")
my_introduction()

Hello, my name is Harry
I live and work in Boston

In [11]:
def introduction(name):
    print("Hello, my name is", name)
    print("I live and work in Boston")
introduction("Muriu")

Hello, my name is Muriu
I live and work in Boston

In [12]:
def general_introduction(name,city):
    print("Hello, my name is", name)
    print("I live and work in", city)
general_introduction('Mali Safi','Chito')

Hello, my name is Mali Safi
I live and work in Chito

In [18]:
introduction("lily","sanfransisco")

TypeError: introduction() takes 1 positional argument but 2 were given

In [22]:
def square(x):
    print('the square of', x, 'is',x*x)

In [23]:
square(3)

the square of 3 is 9

In [25]:
square(1001)

the square of 1001 is 1002001

In [26]:
square("James")

TypeError: can't multiply sequence by non-int of type 'str'

In [27]:
num=25
square(num)

the square of 25 is 625

In [28]:
another_num=16
square(num)
square(another_num)

the square of 25 is 625
the square of 16 is 256

In [35]:
salary=1000
expense=300
def my_savings(a,b):
    print("my total savings:", salary-expense)
my_savings(10000,2456)

my total savings: 700

In [40]:
def my_actual_savings(a,b):
    print("my actual savings:",a-b)
my_actual_savings(10000,12)

my actual savings: 9988

In [48]:
salary=2000
expense=289
def calculate_savings(salary,expense):
    print("my savings are:" ,salary-expense,"Ksh")
calculate_savings(2000,65)

my savings are: 1935 Ksh

In [49]:
calculate_savings(salary,expense)

my savings are: 1711 Ksh

In [54]:
total_salary=89000
total_expense=34000
calculate_savings(total_salary,total_expense)

my savings are: 55000 Ksh

In [58]:
def print_many_times(string,times):
    for i in range(times):
        print (string)
print_many_times("skillsoft",5)

skillsoft
skillsoft
skillsoft
skillsoft
skillsoft

In [59]:
print_many_times(5,"skillsoft")

TypeError: 'str' object cannot be interpreted as an integer

In [60]:
def print_higher_number(a,b):
    if a>b:
        print("Higher number is:", a)
    else:
        print("higher number is" , b)

In [63]:
print_higher_number(10,5)

Higher number is: 10

In [62]:
print_higher_number(6,1)

Higher number is: 6

In [65]:
def print_higher_number_witherror(a,b):
    if a>b:
        print("Higher number is:", a)
    else:
        print("higher number is" , b)
        result=b + "a"

In [67]:
print_higher_number_witherror(10,9)

Higher number is: 10

In [68]:
print_higher_number_witherror(3,10)

higher number is 10

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
def multiply(num_1,num_2,num_3):
    print("Multiplication results: ",num_1*num_2*num_3)

In [75]:
multiply(1, 2.3, 4)

Multiplication results:  9.2

In [77]:
multiply(1,2.3)

TypeError: multiply() missing 1 required positional argument: 'num_3'

In [87]:
def length(some_list):
    count=0
    for element in some_list:
        count += 1
        print("The length of the list is,", count)

In [88]:
length("34")

The length of the list is, 1
The length of the list is, 2

In [89]:
num_list=(2,4,5,1,8,5,9)
length(num_list)

The length of the list is, 1
The length of the list is, 2
The length of the list is, 3
The length of the list is, 4
The length of the list is, 5
The length of the list is, 6
The length of the list is, 7

In [92]:
cars_list=("Toyota","Honda","Mercedes")
length(cars_list)

The length of the list is, 1
The length of the list is, 2
The length of the list is, 3

In [93]:
num_cars=len(cars_list)
num_cars

3

In [96]:
num_cars=length(cars_list)

The length of the list is, 1
The length of the list is, 2
The length of the list is, 3

In [97]:
num_cars

In [98]:
print(num_cars)

None